<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room History</title>
  </head>

  <body>
    <div>
      <h1>Room History: {{ room.room_id }}</h1>
      {% if error %}
      <p>{{ error }}</p>
      {% else %} 
	  	{% if room.game_header %} 
	  		{% if room.game_header.game_history%} 
				{% for sent in room.game_header.game_history %}
      				<p>{{ sent }}</p>
      			{% endfor %} 
			{% endif %} 
		{% else %}
      		<p>No game history found.</p>
      	{% endif %} 
	  {% endif %}
      <a href="/completedGames">Back to Completed Games</a>
    </div>
  </body>
</html>
